.main__page {
  overflow-x: hidden;
}

.main__section {
  margin-top: 150px;
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  &--minor {
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

    &:first-child {
      margin-top: 150px;
    }

    &:last-child {
      margin-bottom: 150px;
    }
  }
}

.main__image-wrap {
  &--left {
    text-align: right;
  }
}

.main__image {
  max-width: 100%;
  height: auto;
}

.main__description-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  &--right {
    transform: translate(200%, 0px);
    opacity: 0;
    transition: all 1.3s ease 0s;
  }

  &--left {
    transform: translate(-200%, 0px);
    opacity: 0;
    transition: all 1.3s ease 0s;
  }
}

.main__description-wrap.active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.main__description {
  display: flex;
  flex-direction: column;
}

.main__title {
  font-size: 40px;
  line-height: 49px;
  margin: 30px 0;
}

.main__text {
  margin: 0;
  margin-bottom: 36px;
  max-width: 710px;
}

.main__advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 27px;
}

.main__list {
  margin: 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  width: 325px;
  max-height: 180px;
  flex-wrap: wrap;
  list-style: none;
  list-style-image: url(../img/svg/star.svg);
}

.main__item {
  margin-bottom: 15px;
  width: 325px;
  box-sizing: content-box;

  &:nth-child(-n+3) {
    margin-right: 50px;
  }

  &--extra {
    width: 350px;
  }
}

.main__advantage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 720px;

  &--minor {
    margin-bottom: 60px;
  }
}

.main__advantage-item {
  border-left: 1px solid $grey-border;
  padding-top: 6px;
  padding-left: 28px;
  padding-bottom: 28px;
  padding-right: 28px;

  &:last-child {
    border-right: 1px solid $grey-border;
  }
}

.advantage__wrap {
  &:hover {
    transform: translateY(-10px);
  }
}

.main__advantage-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 73px;
  font-weight: 700;
  text-align: center;
  color: $white;
  -webkit-text-stroke: 1px $black;
}

.main__advantage-text {
  margin: 0;
}

.main__button {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: $grey-dark;
  padding: 18px 55px;
  cursor: pointer;
  border: 2px solid $grey-dark;
  background-color: $transparent;

  &:hover {
    color: $white;
    background-color: $grey-dark;
  }

  &:active {
    color: $white;
    background-color: $grey-dark;
  }
}
