.nav {
  display: flex;
  padding-top: 6px;

  @media (max-width: $min-desktop-width) {
    display: none;

    &--opened {
      z-index: 100;
      background-color: $white;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      width: 100%;
      border-radius: 10px;
      order: 4;
      margin-top: 10px;
    }
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;

  @media (max-width: $desktop-width) {
    font-size: 18px;
  }

  @media (max-width: $min-desktop-width) {
    flex-direction: column;
    font-size: 15px;
    line-height: 20px;
  }
}

.nav__item {
  min-width: 104px;
  margin-right: 10px;
  padding: 15px 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $min-desktop-width) {
    padding: 10px 10px;
  }
}

.nav__link {
  text-decoration: none;
  color: $white;

  @media (max-width: $min-desktop-width) {
    color: $grey-dark;
    width: 100%;
    display: inline-block;
  }

  &--active {
    font-weight: 700;
  }

  &--drop {
    @media (max-width: $min-desktop-width) {
      &::after {
        content: "";
        position: absolute;
        top: 17px;
        left: 80px;
        width: 12px;
        height: 8px;
        background-image: url('../img/svg/nav-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-color: $transparent;
      }
    }
  }

  &:active {
    font-weight: 700;
  }

  &:hover {
    font-weight: 700;
  }
}

.nav__dropdown {
  position: relative;
  display: flex;
  align-items: center;

  @media (max-width: $min-desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav__dropdown-button {
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 8px;
  background-image: url("../img/svg/nav.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 10px;

  &--opened {
    transform: rotate(180deg);
  }

  @media (max-width: $min-desktop-width) {
    display: none;
  }
}

.nav__extra {
  width: 465px;
  box-sizing: border-box;
  z-index: 2;
  list-style: none;
  position: absolute;
  top: 46px;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: $grey-dark;
  padding-top: 6px;
  padding-left: 10px;
  display: none;

  @media (max-width: $min-desktop-width) {
    padding-left: 0;
    padding-top: 10px;
    width: 290px;
    font-size: 14px;
    line-height: 18px;
    position: static;
  }
}

.nav__extra-item {
  padding-bottom: 20px;
  background-color: $white;
  padding: 10px;
  position: relative;
  padding-left: 40px;
  margin-top: -2px;

  @media (max-width: $min-desktop-width) {
    border-radius: 0;
    padding-left: 20px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-image: url('../img/svg/star.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $transparent;

    @media (max-width: $min-desktop-width) {
      left: 5px;
    }
  }

  &--active {
    font-weight: 700;
  }

  &:last-child {
    border-radius: 0 0 10px 10px;
  }

  &:hover {
    font-weight: 700;
  }

  &:first-child {
    border-radius: 10px 10px 0 0;

    @media (max-width: $min-desktop-width) {
      border-radius: 0;
    }
  }
}

.nav__extra-link {
  text-decoration: none;
  color: $grey-dark;
}

body.mouse .nav__dropdown:hover .nav__extra  {
  display: block;
}

body.mouse .nav__dropdown:hover .nav__dropdown-button  {
  transform: rotate(180deg);
}

body.touch .nav__extra--open  {
  display: block;
}
