.nav {
  display: flex;
  padding-top: 6px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.nav__item {
  min-width: 104px;
  margin-right: 10px;
  padding: 15px 10px;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: $white;

  &--active {
    font-weight: 700;
  }

  &:active {
    font-weight: 700;
  }
  &:hover {
    font-weight: 700;
  }
}

.nav__dropdown {
  position: relative;
  display: flex;
  align-items: center;

  // &:hover .nav__extra {
  //   display: block;
  // }
}

.nav__dropdown-button {
  position: relative;
  cursor: pointer;
  width: 14px;
  height: 8px;
  background-image: url("../img/svg/nav.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-left: 10px;

  &--opened {
    transform: rotate(180deg);
  }
}

.nav__extra {
  width: 465px;
  box-sizing: border-box;
  z-index: 2;
  list-style: none;
  list-style-image: url(../img/svg/star.svg);
  position: absolute;
  top: 48px;
  left: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: $grey-dark;
  background-color: $white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding-top: 21px;
  padding-right: 10px;
  padding-bottom: 21px;
  padding-left: 49px;
  display: none;
}

.nav__extra-item {
  padding-bottom: 20px;

  &--active {
    font-weight: 700;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:hover {
    font-weight: 700;
  }
}

.nav__extra-link {
  text-decoration: none;
  color: $grey-dark;
}

body.mouse .nav__dropdown:hover .nav__extra  {
  display: block;
}

body.touch .nav__extra--open  {
  display: block;
}
